
body{
	width:40%;
	background-color:#999;
	margin;0;
	padding:20px;
	font:87.5%/1.4 HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-left:auto;
	margin-right:auto;
}

.new-todo{
	vertical-align:center;
	border-radius:5px;
	padding:10px;
	width:100%;
}

.edit{
	display:none;
}

.todoapp{
	background-color:#efefef;
	color:#444;
	padding:20px;
	border-radius:5px;
	box-shadow:inset 2px 1px 4px 1px rgba(0,0,0,0.2);
}

.todo{
	position:relative;
}

.todo-list{
    width:100%;
	padding:0px;
	list-style:none;
}

.todo-list li{
	margin:10px;
	height:50px;
	transition:box-shadow 0.15s;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(170,170,170);
	padding:10px;
	box-shadow:rgb(85,85,85) 0px 2px 3.333333px;
}


.todo-list li:hover .todo-destroy{
	display:block;
}

.todo-destroy{
	display:none;
	position:absolute;
	right:10px;
	background-color:#efefef;
}

.todo-destroy:after {
    content: 'X';
}

