
<html>
<head>	
	<link rel="stylesheet" type="text/css" href="dist/lib/reset-css/reset.css">
	<link rel="stylesheet" type="text/css" href="all.css">
</head>
<body>

	<section class="todoapp" >
		<header>
			<h1>To List</h1>
		</header>
		<main>
			<div class="content">
			  <input class="new-todo" placeholder="What needs to be done?" type="text"/>
			</div>
	
			<div class="todos">
			  <ul class="todo-list"></ul>
			</div>
		</main>
		<footer>
			<div class="todo-clear" ><a>Clearn All Todos</a></div>
		</footer>
	</section>


<!-- plugin -->
<script src="dist/lib/jquery/dist/jquery.js"></script>
<script src="dist/lib/underscore/underscore.js"></script>
<script src="dist/lib/backbone/backbone.js" ></script>
<script src="dist/lib/backbone.localStorage/backbone.localStorage.js"></script>
<script src="dist/lib/jquery-tmpl/jquery.tmpl.js"></script>

<!-- backbone  -->
<script src="src/models/todo.js" ></script>
<script src="src/collections/todos.js" ></script>
<script src="src/views/todoView.js" ></script>
<script src="src/views/appView.js" ></script>
<script src="src/app.js"></script>

<!-- jquery template  -->
<script type="text/template" id="item-template" >
	<div class="todo {{if done}}done{{/if}}">
	  <div class="display" title="Double click to edit...">
		<input class="check" type="checkbox" {{if done}}checked="checked"{{/if}}/>
		<label class="todo-content">${content}</label>
		<button class="todo-destroy"></button>
	  </div>

	  <div class="edit">
		<input class="todo-input" type="text" value="${content}"/>
	  </div>
	</div>
</script>


</body>
</html>
